<a href="https://colab.research.google.com/github/aroosax/WPBrigade--Python-AI-Chatbot-Bootcamp/blob/main/PythonBasicsAssignment.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 1: Variables

In [ ]:
# Create a variable `name` to store your name and `age` to store your age. Print them in a sentence
name = "Aroosa"
age = 24
print(f"My name is {name} and I am {age} years old")

My name is Aroosa and I am 24 years old

In [ ]:
# Swap the values of two variables `x` and `y` without using a third variable.
x = 15
y = 20
x,y = y,x
print(f"The value of x is {x} and the value of y is {y}")

The value of x is 20 and the value of y is 15

# 2: Operators

In [ ]:
# Write a program that takes two numbers from the user and prints their sum, difference, product, and quotient.
num1 = int(input("Enter number 1 ="))
num2 = int(input("Enter number 2 ="))
print(f"The sum of two numbers is ={num1+num2}")
print(f"The difference of two numbers is = {num1-num2}")
print(f"The product of two numbers is = {num1*num2}")
print(f"The quotient of two numbers is = {num1/num2}")

Enter number 1 =10
Enter number 2 =5
The sum of two numbers is =15
The difference of two numbers is = 5
The product of two numbers is = 50
The quotient of two numbers is = 2.0

In [ ]:
# Check if a number entered by the user is even or odd using the modulo (%) operator.
num = int(input("Enter a number ="))
if num%2==0:
  print("Number is even")
else:
    print("Number is odd")

Enter a number =8
Number is even

# 3: Conditions

In [ ]:
# Write a program to check if a person is eligible to vote (age ≥ 18)
age = int(input("Enter your age ="))
if age >= 18:
  print("Your are eligible to vote")
else:
  print("You are not eligible to vote")

Enter your age =22
Your are eligible to vote

In [ ]:
# Ask the user for a number and check: - If it’s positive - If it’s negative - If it’s zero
num = int(input("Enter your number ="))
if num > 0:
  print("Number is positive")
elif num < 0:
  print("Number is negative")
else:
  print("Number is zero")

Enter your number =-9
Number is negative

# 4: Loops

In [ ]:
# Print numbers from 1 to 10 using a `for` loop.
for num in range(1,11):
  print(num)

1
2
3
4
5
6
7
8
9
10

In [ ]:
# Print the multiplication table of any number entered by the user.
num = int(input("Enter your number"))
for number in range(1,11):
  print(f"{num}x{number} = {num*number}")

Enter your number2
2x1 = 2
2x2 = 4
2x3 = 6
2x4 = 8
2x5 = 10
2x6 = 12
2x7 = 14
2x8 = 16
2x9 = 18
2x10 = 20

In [ ]:
# Write a program that sums all numbers from 1 to n (user input) using a loop.
n = int(input("Enter a number ="))
total = 0
for num in range(1, n+1):
  total+= num

print(f"The sum of numbers for 1 to {n} = {total}")

Enter a number =10
The sum of numbers for 1 to 10 = 55

# 5: Functions

In [17]:
# Write a function `greet(name)` that prints 'Hello, !'
def greet(name):
  print(f"Hello {name}!")
#calling the function
greet("Aroosa")

Hello Aroosa!

In [19]:
# Write a function `is_prime(n)` that returns True if the number is prime, otherwise False.
def is_prime(n):
  if n<= 1:
    return False
  for i in range(2, int(n**0.5) + 1):
    if n%i == 0:
      return False
    return True
# calling the function
print(is_prime(2))
print(is_prime(10))
print(is_prime(17))

None
False
True

# 6: Lists

In [27]:
# Create a list of 5 fruits and print the second and last fruit.
fruits = ["Apple","Banana","Cherry","Mango","Guava"]
print(fruits[1])
print(fruits[-1])

Banana
Guava

In [28]:
# Add a new fruit to the list, then remove the first fruit from the list.
# adding a new fruit
fruits.append("Grapes")
print(fruits)

['Apple', 'Banana', 'Cherry', 'Mango', 'Guava', 'Grapes']

In [29]:
# removing the first fruit
fruits.pop(0)
print(fruits)

['Banana', 'Cherry', 'Mango', 'Guava', 'Grapes']

In [30]:
# Find the maximum and minimum number in a list of integers.
numbers = [2,4,6,8,10]
maximum = max(numbers)
minimum = min(numbers)
print(f"The maximun number is {maximum} and the minimum number is {minimum}")

The maximun number is 10 and the minimum number is 2

# 7: Dictionary

In [31]:
# Create a dictionary with keys: 'name', 'age', 'city' and store your details. Print the dictionary.
my_dict = {"name":"Aroosa","age":24, "city":"rawalpindi"}
print(my_dict)

{'name': 'Aroosa', 'age': 24, 'city': 'rawalpindi'}

In [32]:
# Add a new key 'country' to the dictionary.
my_dict["Country"] = "Pakistan"
print(my_dict)

{'name': 'Aroosa', 'age': 24, 'city': 'rawalpindi', 'Country': 'Pakistan'}

In [35]:
# Write a program to count the frequency of each character in a string and store the result in a dictionary.
text = input("Enter your text:")
freq = {} # empty dictionary
for char in text:
  if char in freq:
    freq[char] += 1
  else:
    freq[char] = 1

print(f"Frequency of each character: {freq}")

Enter your text:aroosa
Frequency of each character: {'a': 2, 'r': 1, 'o': 2, 's': 1}

# 8: Set

In [36]:
# Create two sets of numbers and: - Find their union - Find their intersection - Find the difference between them
set1 = {1,2,3,4,5}
set2 = {4,5,6,7,8}
#union
union_set = set1.union(set2)
#intersection
intersection_set = set1.intersection(set2)
#difference
difference_set = set1.difference(set2)
print(f"Set 1 ={set1}")
print(f"Set 2={set2}")
print(f"Union of set1 and set2 is: {union_set}")
print(f"Intersection of set1 and set2 is: {intersection_set}")
print(f"Difference of set1 and set is: {difference_set}")

Set 1 ={1, 2, 3, 4, 5}
Set 2={4, 5, 6, 7, 8}
Union of set1 and set2 is: {1, 2, 3, 4, 5, 6, 7, 8}
Intersection of set1 and set2 is: {4, 5}
Difference of set1 and set is: {1, 2, 3}

In [37]:
# Write a program to remove duplicates from a list using a set.
numbers = [1,2,2,3,3,3,4,4,4,5,5,5,5]
unique_numbers = list(set(numbers))
print(f"Original list = {numbers}")
print(f"Unique numbers list = {unique_numbers}")

Original list = [1, 2, 2, 3, 3, 3, 4, 4, 4, 5, 5, 5, 5]
Unique numbers list = [1, 2, 3, 4, 5]

# 9: Tuples

In [38]:
# Create a tuple with at least 5 numbers and print the first and last elements.
numbers = (1,2,3,4,5,6)
print(numbers[0]) # first element
print(numbers[-1]) # last element

1
6

In [40]:
# Write a program to check if a given element exists in a tuple.
my_tuple = (10,20,30,40,50)
element = int(input("Enter your element="))
if element in my_tuple:
  print(f"{element} exists in my_tuple")
else:
  print(f"{element} does not exist in my_tuple")

Enter your element=24
24 does not exist in my_tuple

# 10: Exception Handling

In [41]:
#  Write a program to divide two numbers, but handle the ZeroDivisionError.
try:
  a = int(input("Enter first number ="))
  b = int(input("Enter second number ="))
  result = a/b
  print(f"The result of {a}/{b} = {result}")
except ZeroDivisionError:
  print("Error: Division by zero is not allowed")

Enter first number =25
Enter second number =5
The result of 25/5 = 5.0

In [43]:
# Write a program that asks for a number from the user, and handles the case when the user enters something that is not a number (ValueError).
try:
  number = int(input("Enter a number ="))
  print("You entered", number)
except ValueError:
  print("Error: That is not a valid number")

Enter a number =h
Error: That is not a valid number